@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-bg: #1f2937; /*hero and footer background color, quote text and info header txt*/
    --main-txt: #f9faf8; /*hero main and logo text*/
    --second-txt: #e5e7eb; /*hero secondary and header link text, qoute background color*/
    --btn: #3882f6; /*button color, call to action bg color*/
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    /*overflow: auto;*/
    padding: 25px 0;
}

.nav-container, .hero-container {
    background-color: var(--dark-bg);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--main-txt);
    font-size: 24px;
    font-weight: 700;
}

.nav-links a {
    text-decoration: none;
    color: var(--second-txt);
    margin: 0 5px;
    cursor: pointer;
}

.hero-container {
    padding: 40px 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /*padding: 35px 0;*/
}

.hero-txt h1 {
    color: var(--main-txt);
    font-weight: 900;
    font-size: 48px;
    margin: 10px 0;
}
.hero-txt p {
    color: var(--second-txt);
    text-wrap: wrap;
    font-size: 18px;
    margin: 10px 0;
}

.btn {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.hero-btn {
    border: none;
    background-color: var(--btn);
    color: var(--second-txt);
    margin: 10px 0;
}
.hero-btn:hover {
    background-color: #ffffff;
    color: var(--btn);
}

#hero-img {
    width: 900px;
    height: 300px;
    object-fit: cover;
}

.info-container {
    padding: 20px 0;
}

.info-heading {
    color: var(--dark-bg);
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 15px;
}

.info-img {
    width: 200px;
    height: 200px;
    border: 5px solid var(--btn);
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
}

.card {
    width: 250px;
    text-align: center;
}

.quote-container {
    padding: 40px 0;
    background-color: var(--second-txt);
}

.quote {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

.phrase {
    color: var(--dark-bg);
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.source {
    font-weight: 700;
    text-align: end;
}

.cta-container {
    padding: 20px 0;
}

.cta {
    background-color: var(--btn);
    color: #ffffff;
    padding: 35px 50px;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.cta-txt h3 {
    margin-bottom: 5px;
}

.cta-btn {
    border: 2px solid #ffffff;
    background-color: var(--btn);
    color: #ffffff;
}
.cta-btn:hover {
    border: 2px solid #ffffff;
    background-color: #ffffff;
    color: var(--btn);
}

.footer-container {
    padding: 35px 0;
    background-color: var(--dark-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-txt);
}